target
*.swp
*.swo
*.yml
*.sh
!ci/*
!build.sh
tests/caterings
.directory
*.dot
*.erb
*.csv
*.png
*.bk
.most_recent_commit
*.pdf
*.log
*.tex
*.aux
*.ymlx
*.json
pkg
.direnv
.envrc
templates/latex
asciii.fish
asciii.bash-completion
_asciii
_asciii.ps1
.DS_Store
src/localize_macros_static.rs
*.rustfmt
.idea/
